/************************************
GENERAL
*************************************/

body {
	height: 1200px;
	background: linear-gradient( #20A526, transparent 90%),
				#20A526 url('../img/fog.jpg') no-repeat center;
	background-size: cover;			
}

a {
	text-decoration: none;
}

.center {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
