/************************************
GENERAL
*************************************/

a {
	text-decoration: none;
}

.home { 
  background: url("../img/seaford2.jpg") no-repeat center center fixed; 
  background-size: cover;
}

.about { 
  background: url("../img/seaford.jpg") no-repeat center center fixed; 
  background-size: cover;
}

.portfolio { 
  background: url("../img/seaford3.jpg") no-repeat center center fixed; 
  background-size: cover;
}

img {
	max-height: 408px;
}
/************************************
HEADING
*************************************/

header {
	float: left;
	margin: 0 0 30px 0;
	width: 100%;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 56px;
	color: #fff;
	margin-left: 1.25em;
}

h2 {
	font-family: 'Abril Fatface', cursive;
	color: #F21111;
	letter-spacing: .1em
}

.headBack {
	background: rgba( 0, 0, 0, 0.5);
}

/************************************
Body
*************************************/
.column_1 p, .column_1 h3, .column_1 h2 {
	text-align: left;
	margin-left: 1.25em;
	color: #fff;
}

.column_2 p, .column_2 h3, .column_2 h2 {
	text-align: center;
	color: #fff;
}

.column_3 p, .column_3 h3, .column_3 h2 {
	text-align: right;
	margin-right: 1.25em;
	color: #fff;
}

.column_1, .column_2, .column_3 {
	background: rgba( 0, 0, 0, 0.5);
}

.body_content {
	font-size: 1.25em;
}
footer p {
	font-size: 0.75em;
	text-align: right;
	clear: both;
	padding-top: 50px;
}

footer nav ul {
	text-align: center;
}
/************************************
NAV
*************************************/

nav {
	text-align: right;
	color: #543E1C;
}

nav ul {
	list-style: none;
	padding-top: 60px;
}

nav li {
	display: inline-block;
	font-family: 'Abril Fatface', cursive;
	font-size: 1.50em;
	margin: 0 5px 0 5px;
}

nav a {
	color: #fff;
}

article p {
	font-family: 'Playfair Display', serif;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.contact li a img {
	max-height: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

/************************************
GALLERY
Used code from the pen below
Dudley Storey
http://codepen.io/dudleystorey/pen/YPzqgZ
*************************************/

.gallery {
	
	overflow: hidden;
	position: relative;
	width: 80%;
	margin: 400px auto;
}

.gallery input[type="radio"] {
	display: none;
}

.gallery label img {
	width: 20%;
	display: block;
	float: left;
	clear: left;
	border-right: 40px;
}

.gallery label:hover {
	cursor: pointer;
}

div#large {
	width: 90%;
	position: relative;
	margin-left: 22.5%
}

div#large figure {
	margin: 0;
	position: absolute;
	height: 100%;
	opacity: 0;
	transform: scale(.75);
	transition: .75s all linear;
	width: 100%
}

div#large figure img {
	width: 100%;
}

#talon:checked~#large #tower,
#amy:checked~#large #seaford,
#cliff:checked~#large #seaford2,
#fence:checked~#large #seaford3 {
	opacity: 1;
	transform: scale(.8);
}